/*menu de navegacion (Header)*/

body{
    padding-top: 70px;
}

header {
    position: fixed;
    width: 70%;
    top: 0;
    background-color: transparent;
    text-align: center;
    width: 25%;
    height: 20%;
}

nav {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    
}

#a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 24px;
    height: auto;
    
}

/**/